body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: gray;
  color: #fff;
}

body {
  background: url(./icons/pedro-lastra-Nyvq2juw4_o-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  margin-top: 1em;
  width: 8em;
  height: 8em;
  border-radius: 25%;
  border: 3px solid #fff;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

header > h1 {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #000a;
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
}

ul > li {
  background-color: #fffa;
  -webkit-backdrop-filter: blur(5px) saturate(160%) contrast(180%);
  backdrop-filter: blur(5px) saturate(160%) contrast(180%);
  border-radius: 10em;
  border: 2px solid #fffa;
  padding: 1em;
  margin: 1.4em 0;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

a > img {
  width: 20px;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}
